<ion-header>
  <ion-toolbar>
    <ion-title>tab2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item> <ion-input type="text" [(ngModel)]="post.id" placeholder="id"></ion-input></ion-item>
  <ion-item> <ion-input type="text" [(ngModel)]="post.email" placeholder="email"></ion-input></ion-item>
  <ion-item> <ion-input type="text" [(ngModel)]="post.first_name" placeholder="first name"></ion-input></ion-item>
  <ion-item> <ion-input type="text" [(ngModel)]="post.last_name" placeholder="last name"></ion-input></ion-item>
  <ion-button (click)="tambahdata()">ADD</ion-button>
  <br> <br>

  <ion-button (click)="editdata()">EDIT</ion-button>

  <ion-button (click)="deletedata()">DELETE</ion-button>

</ion-content>
